* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --black: #000000;
  --white: #FFFFFF;
  --off-white: #F2F3F1;
  --turqoise: #20948B;
  --orange: #DE7A22;
  --brown: #A76349;
  --dark-blue: #101F25;
  --green: #6AB187;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: var(--dark-blue);
  color: var(--off-white);
}
/* NAV BASE STYLING START */
.nav-bar {
  background-color: var(--dark-blue);
  padding: 0 15px;
  box-shadow: 0 1px 2px var(--dark-blue), 0 1px 2px var(--black);
  z-index: 9;
}
.nav-list {
  list-style-type: none;
}
.nav-img {
  padding: 7.5px 10px 7.5px 0;
  cursor: grab;
  cursor: -webkit-grab;
  z-index: 10;
}
.nav-item {
  padding: 10px;
}
.nav-link {
  color: var(--green);
  text-decoration: none;
}
.nav-link:hover,
.nav-link:hover::after {
  color: var(--turqoise);
}
/* NAV BASE STYLING END */
/* MOBILE MENU START */
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  display: block;
  padding: 15px 15px;
}
.nav-item {
  text-align: center;
}
/* MOBILE MENU END */
/* DESKTOP MENU START */
@media all and (min-width: 960px) {
  .nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .nav-list {
    align-items: center;
    flex-wrap: nowrap;
    background: none;
  }
  .nav-item {
    position: relative;
    display: block;
    width: auto;
    font-size: 1.5rem;
  }
  .title {
    font-size: 3em;
    font-weight: 600;
  }
  .title-p {
    font-size: 2em;
  }
}
/* DESKTOP MENU END */
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
section h2 {
  font-size: 2em;
}
#welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
#bio {
  height: 100vh;
}
#bio p{
  font-size: 1.2em;
}
.selfie {
  border-radius: 50%;
  border: 5px solid var(--orange);
}
#my-projects {
  text-align: center;
  height: 100vh;
}
/* 
    TODO
    #bio
    #my-projects
    #contact
*/
.swiper-slide a {
  color: var(--turqoise);
  text-decoration: none;
  font-size: 1.2em;
}
.project-img {
  border: 3px solid var(--turqoise);
  border-radius: 5px;
}
.code {
  color: var(--dark-blue);
}
.swiper-slide a:hover .code{
  color: var(--turqoise);
}
#contact {
  display: block;
  height: 50vh;
}
.form {
  display: flex;
  flex-wrap: wrap;
}
input, textarea {
  background-color: var(--off-white);
  color: var(--dark-blue);
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--turqoise);
}
.swiper-container {
  z-index: 0;
}