* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --black: #000000;
  --white: #FFFFFF;
  --off-white: #F2F3F1;
  --turqoise: #20948B;
  --orange: #DE7A22;
  --brown: #A76349;
  --dark-blue: #101F25;
  --green: #6AB187;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: var(--dark-blue);
  color: var(--off-white);
}
/* NAV BASE STYLING START */
.nav-bar {
  background-color: var(--dark-blue);
  padding: 0 1rem;
  box-shadow: 0 1px 2px var(--dark-blue), 0 1px 2px var(--black);
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  list-style-type: none;
  display: none;
  flex-direction: column;
}
.nav-img {
  /* padding: 7.5px 10px 7.5px 0; */
  cursor: grab;
  cursor: -webkit-grab;
  z-index: 10;
}

.nav-item {
  padding: .75rem;
  text-align: center;
}
.nav-link {
  color: var(--green);
  text-decoration: none;
  display: block;
  padding: 1rem;
}
.nav-link:hover,
.nav-link:hover::after {
  color: var(--turqoise);
}

.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* NAV BASE STYLING END */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section h2 {
  font-size: 2em;
}
#welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
section {
  height: 100vh;
}
#bio {
  background: var(--white);
}
#bio p{
  font-size: 1.2em;
  color: var(--dark-blue);
}
.bio-content {
  display: flex;
  flex-direction: column;
}

.bio-content p:first-child {
  margin-bottom: 1.2rem;
}
.selfie {
  border-radius: 50%;
  border: 5px solid var(--orange);
  margin-right: 2rem;
}
#my-projects {
  text-align: center;
}
/*
    TODO
    #bio
    #my-projects
    #contact
*/
.swiper-slide a {
  color: var(--turqoise);
  text-decoration: none;
  font-size: 1.2em;
}
.project-img {
  border: 3px solid var(--turqoise);
  border-radius: 5px;
}
.code {
  color: var(--dark-blue);
}
.swiper-slide a:hover .code{
  color: var(--turqoise);
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin: .25rem;
}

input, textarea {
  background-color: var(--off-white);
  color: var(--dark-blue);
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--turqoise);
}
.swiper-container {
  z-index: 0;
}

#bio-content-wrapper {
  flex-direction: column;
}

/* DESKTOP MENU START */
@media all and (min-width: 960px) {

#bio-content-wrapper {
  flex-direction: row;
}
  .hamburger {
    display: none;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: row;
  }
  .nav-list {
    flex-direction: row;
    display: flex;
  }
  .title {
    font-size: 3em;
    font-weight: 600;
  }
  .title-p {
    font-size: 2em;
  }
  .container {
    width: 60%;
    margin: 0 auto;
  }
}
/* DESKTOP MENU END */